@import '../common/styles/_libs';
.lamp {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 5px auto;
  background: slategray;
}
.lightRed {
  background: red;
}
.lightYellow {
  background: yellow;
}
.lightGreen {
  background: green;
}
.globalLamp {
  border: 1px solid black;
  height: 205px;
  width: 80px;
  display: inline-block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: dimgrey;
  margin-top: 10px;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%,-50%);
}
.tumbler {
  width: 70px;
  height: 20px;
  color: white;
  background: gray;
  cursor: pointer;
  margin: 5px auto;
  text-align: center;
  font-size: 14px;
  padding-top: 3px;
}
.tumblerOn {
  background: green;
}