@import '../common/styles/_libs';
.parent {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  background: bisque;
  padding: 5px 0;
  &_btn {
    width: 80px;
    background: green;
    border: none;
    margin-left: 60px;
  }
  &_block {
    background: yellow;
    border: 1px solid black;
    height: 50px;
    transform: scaleY(1);
    transition: transform 0.5s;
    transform-origin: top;
    //display: block;
  }
}
.hidden {
  transform: scaleY(0);
}
