@font-face {
  font-family: "Scriptina";
  src: url("../../assets/fonts/scriptina/SCRIPTIN.ttf");
}
@font-face {
  font-family: "Alegreya Regular";
  src: url("../../assets/fonts/Alegreya/Alegreya-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display Bold";
  src: url("../../assets/fonts/Playfair Display Bold.ttf");
}
@font-face {
  font-family: "ProximaNova Regular";
  src: url("../../assets/fonts/ProximaNova-Regular.ttf");
}
@font-face {
  font-family: "Scripalt";
  src: url("../../assets/fonts/scriptina/SCRIPALT.ttf");
}
@font-face {
  font-family: "Alegreya Bold";
  src: url("../../assets/fonts/Alegreya/Alegreya-Bold.ttf");
}