@font-face {
  font-family: "Scriptina";
  src: url("../../assets/fonts/scriptina/SCRIPTIN.ttf");
}
@font-face {
  font-family: "Alegreya Regular";
  src: url("../../assets/fonts/Alegreya/Alegreya-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display Bold";
  src: url("../../assets/fonts/Playfair Display Bold.ttf");
}
@font-face {
  font-family: "Proxima Nova Condensed Regular";
  src: url("../../assets/fonts/Proxima Nova Condensed Regular.otf");
}