.col-4 {
  width:  100%;
  flex: 0 0 100%;
}
.col-2 {
  width: 50%;
  flex: 0 0 50%;
}
.col-1 {
  width: 25%;
  flex: 0 0 25%;
}
@media (max-width: 575.98px) {
  .col-sm-4 {
    width:  100%;
    flex: 0 0 100%;
  }
}