[class*="col-"] {
  height: 150px;
  padding: 0.5rem;
  position: relative;
}
.col-2 {
  width: $widthCol2;
  flex: 0 0 $widthCol2;
}
.col-4 {
  width: $widthCol4;
  flex: 0 0 $widthCol4;
}
.col-6 {
  width: $widthCol6;
  flex: 0 0 $widthCol6;
  &-wrapper {
    width: $widthCol6-wrapper;
    height: $widthCol6-wrapper;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@include mobile {
  .col-sm-6 {
    width: 50%;
    flex: 0 0 50%;
  }
  .col-sm-12 {
    width: 100%;
    flex: 0 0 100%;
  }
}
