body {
  background-image: url("../../assets/images/pattern.jpg");
}
.page-header {
  color: white;
  padding: 0.5rem 0;
  margin: 1rem 0;
}
.content {
  width: 100%;
  max-width: 820px;
  @include center;
  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &_img {
      @include center;
    }
    &_img>img {
      display: block;
      width: 100%;
    }
  }
}
[class*="bg-col-"] {
  width: 100%;
  height: 100%;
}
.bg-col-home {
  background: $bgColHome ;
}
.bg-col-contact {
  background: $bgColContact;
}
.bg-col-hire {
  background: $bgColHire;
}
.bg-col-photos {
  background: $bgColPhotos;
}
.bg-col-about {
  background: $bgColAbout;
}
.bg-col-about-second {
  background: $bgColAboutSecond;
}
.blog-image {
  background-image: url("../../assets/images/blog-image.png");
  @include background-image;
  width: $widthColBlogImg;
  flex: 0 0 $widthColBlogImg;
}
.blog-black {
  background: $bgColBlockBlack;
  width: $widthColBlogBlack;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  color: $blogBlackColorText;
  &-text {
    padding: 1rem 0;
  }
}
.bg-col-contact-second {
  background: $bgColContactSecond;
}

.bg-col_text {
  @include bg-col-text;
}