@media (max-width: 575.98px) {
  .page-second {
    .page-content {
      max-width: 575.98px;
      min-width: 300px;
      width: 100%;
      .left-content {
        //height: 90%;
        .chef {
          &-avatar {
            height: 50px;
            background-position-x: -19px;
          }
        }
      }
      .right-content {
        height: 50%;
        align-items: flex-start;
        .content-wrapper {
          height: 95%;
        }
        .img {
          height: 150px;
        }
      }
    }
  }
}
