.banner {
  background-image: url("../../assets/img/baner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  .overlay {
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-width: 700px;
    background: repeating-linear-gradient(
                    to right, transparent, transparent 20px, #f3f3f338 20px, #f3f3f338 100px);
  }
  .menu {
    width: 100%;
    background: #6262619e;
    &-page-header {
      max-width: 1200px;
      min-width: 700px;
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      //padding: 1rem 0;
      opacity: revert;
      &-logo {
        padding: 1rem;
        cursor: pointer;
        align-items: center;
        color: white;
        font-family: "Scriptina";
      }
      &-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-transform: uppercase;
        &-item {
          padding: 1rem;
          align-items: center;
          color: white;
          &:nth-child(odd):hover {
            //background: #656563b0;
            //transition: backgrou nd-color 1s;
            transform: scale(1.1, 1.1);
          }
        }
        .nav-link {
          color: white;
          cursor: pointer;
        }
      }
      &-networks {
        padding: 1rem;
        cursor: pointer;
        align-items: center;
        color: white;
        display: flex;
        flex-direction: row;
      }
      &-networks > img {
        width: 100%;
        display: block;
        margin: 0 1rem;
      }
    }
  }
}