$folderWidth: 60px;
$pagerColor: #999997;
$cornerColor: #ffffff;
$boxshadowTime: #c2b5ae;
$hoverPagerColor: #978869;


.page-banner {
  background-image: url("../../assets/img/page-third/page-3.jpg");
  @include bgBanner;
  background-position: bottom;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  //.page-content {
  //  //@include bgGradienPageSecond;
    //position: relative;
  //  height: 100vh;
  //}
    .pancake {
      width: 30%;
      height: 70%;
      position: absolute;
      top: 18%;
      left: 15%;
      @include bgBanner;
      background-image: url("../../assets/img/page-third/pancake.jpg");
      @include corner;
      //position: relative;
    }
    .stars {
      width: 40px;
      height: 50%;
      margin-left: 2rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      & > img {
        display: block;
        width: 60%;
        margin-top: 1rem;
      }
    }
    .pancake-burger {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateX(-50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid saddlebrown;
    }
    .corner {
      position: absolute;
      top: calc(100% - 60px);
      left: 0;
      height: $folderWidth;
      width: $folderWidth;
      background:linear-gradient(45deg, transparent 15px, $cornerColor 0);
    }
  .pancake-wrapper {
    width: 35%;
    height: 70%;
    position: absolute;
    top: 18%;
    left: 45%;
    background: $cornerColor;
    .pancake-description {
      width: 100%;
      height: 100%;
      padding: 3rem 4rem;
      background-image: url("../../assets/img/page-third/windmill.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-position-x: 100%;
      .content-header {
        font-size: 3rem;
        padding: 0;
      }
      .description {
        margin-top: 5rem;
      }
      .slideshow {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;
      }
      .slider {
        width: 90px;
        height: 90px;
        border: 1px solid $cornerColor;
        border-radius: 50%;
      }
      .slider-first {
        background-image: url("../../assets/img/page-third/slide1.jpg");
        background-position-x: 40%;
        background-position-y: 45%;
      }
      .slider-second {
        background-image: url("../../assets/img/page-third/slide2.jpg");
        background-position-x: 53%;
        background-position-y: 95%;
      }
      .slider-third {
        background-image: url("../../assets/img/page-third/slide3.jpg");
        background-position-x: 100%;
        background-position-y: 60%;
      }
      .pager {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid $pagerColor;
        display: flex;
        justify-content: center;
        align-items: baseline;
        font-size: 2rem;
        color: $pagerColor;
        &:hover {
          @include hoverTransform;
          color: $hoverPagerColor;
          border: 2px solid $hoverPagerColor;
        }
      }
    }
  }
  .pancake-time-wrapper {
    position: absolute;
    left: 68%;
    top: 10%;
    width: 225px;
    height: 225px;
    background: $cornerColor;
    box-shadow: -1rem 2rem 10rem 0 $boxshadowTime;
    .pancake-time {
      width: 100%;
      height: 100%;
      background-image: url("../../assets/img/page-third/fild.png");
      @include  bgBanner;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .content-header-subscription {
      font-size: 1.5rem;
      margin-top: 2rem;
    }
    .time {
      font-size: 8rem;
      font-family: "Alegreya Bold";
      letter-spacing: 0.05em;
      line-height: 1em;
      color: #ddc791;
    }
    .unit {
      font-family: "Alegreya Bold";
      font-size: 1.5rem;
      color: #a09b93;
      letter-spacing: 0.08em;
    }
  }
}
