$pageContentLinearColor: #f3f1ef4f;
$boxShadowMainBanner: #6e6e6b6b;
$menuColor: #e7e6e1;
$bgShadow: #7f7873bf;
$titleTextColor: #f5f5f6;
$logoBreadBg: #f3f1f1;

$headerColor: #57524d;
$borderChefNameColor: #d7d3d4;
$subscriptionColor: #b6977f;
$quotesColor: #c3c3c3;
$page2ContentLinearColor: #f4f4f4;
$descriptionColor: #888783;
$boxShadowImgColor: #c2b5ae;
$stickerTextColor: #d3b98d;

$folderWidth: 60px;
$pagerColor: #999997;
$cornerColor: #ffffff;
$boxshadowTime: #c2b5ae;
$hoverPagerColor: #978869;
$timeColor: #ddc791;
$unitColor: #a09b93;

$breakfastSubsrciptionColor: #aeb4b4;
$priceColor: #c3b99e;
$listWrapperBg: #f2f2ea;
$outLineColor: #807f7a;
$yearColor: #83827e;
$listWrapperBgSecond: #d9d3c7;
$btnReadColor: #8b4a10;
$boxShadowListWrapper: #c4bfb5;

$ingridientHeaderColor: #a4805f;
$inridientHeaderSubscription: #7e7a72;
$infoBg: #fcfbf9b5;
$timeCookColor: #544f49;

$menuBorderColor: #676560;
