$widthCol2: 16.6666%;
$widthCol4: 33.3333%;
$widthCol6: 50%;
$bgColHome: #3486ea;
$bgColContact: #f9be3e;
$bgColHire: #d4573e;
$bgColPhotos: #59b0e2;
$bgColAbout: #34af94;
$bgColAboutSecond: #85a73f;
$widthCol6-wrapper: 100%;
$widthColBlogImg: $widthCol6-wrapper/3.4;
$bgColBlockBlack: #151b26;
$widthColBlogBlack: $widthCol6-wrapper - $widthColBlogImg;
$blogBlackColorText: white;
$bgColContactSecond: #7e5a8c;

$mobile: 767.98px;